.sign-up-container {
  display: flex;
  flex-direction: column;

  h2 {
    margin: 10px 0;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
  }
}

.google-icon {
  margin-top: 4px;
  margin-right: 2px;
}

@media (max-width: 600px) {
  .buttons-container {
    flex-direction: column;
  }
}
